@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    --cleanwhite: #fff;
    --white: #f3f3f3;
    --whitesmoke: #eee;
    --lightgray-1: #ccc;
    --lightgray-2: #999;
    --gray: #444;
    --darkgray-1: #333;
    --darkgray-2: #222;
    --lightblue: #00ccff;
    --blue: #015a8c;
    --lightblack: #181818;

}
body {
    background-color: var(--white);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 100%;
}

/* Responsive images */
img {
    width: 100%;
    max-width: 400px;
    height: auto;
}
header {
    width: 100%;
}
#content {
    width:100%;
}
section {
    width: 100%;
    height: auto;
    /* padding: 0 6rem; */
}
    
/* Responsive Grid */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* For desktop: */
[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.hide {
    display: none;
}

/* Animations */
.animated {
    animation-duration: 1.25s
}
.animated-slow-2 {
    animation-duration: 2s
}
.animated-slow-25 {
    animation-duration: 2.5s
}
.animated-slow-3 {
    animation-duration: 3s
}
.animated-slow-4 {
    animation-duration: 4s
}
.animated-slow-5 {
    animation-duration: 5s
}
.animation-delay-03 {
	animation-delay: 0.3s;
}
.animation-delay-05 {
	animation-delay: 0.5s;
}
.animation-delay-07 {
	animation-delay: 0.7s;
}
.animation-delay-09 {
	animation-delay: 0.9s;
}
.animation-delay-1 {
	animation-delay: 1s;
}
.animation-delay-11 {
	animation-delay: 1.1s;
}
.animation-delay-13 {
	animation-delay: 1.3s;
}
.animation-delay-15 {
	animation-delay: 1.5s;
}
.animation-delay-17 {
	animation-delay: 1.7s;
}
.animation-delay-2 {
	animation-delay: 2s;
}
.animation-delay-25 {
	animation-delay: 2.5s;
}
.animation-delay-3 {
	animation-delay: 3s;
}
.animation-delay-35 {
	animation-delay: 3.5s;
}
.animation-delay-4 {
	animation-delay: 4s;
}
.animation-delay-45 {
	animation-delay: 4.5s;
}
.animation-delay-5 {
	animation-delay: 5s;
}
.animation-delay-6 {
	animation-delay: 6s;
}
.animation-delay-7 {
	animation-delay: 7s;
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}
.zoomIn {
    animation-name: zoomIn;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .9} 
    to {opacity: 1}
} 

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeIn20 {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		/* transform: translate3d(0, 0, 0); */
        transform: none;
	}
}
.fadeIn3d {
    animation-name: fadeIn3d;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0,-100%,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInRight {
    animation-name: fadeInRight;
}

@keyframes width30 {
    from {
        opacity: 0;
        width: 0;
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        width: 30%;
        transform: none;
    }
}
.width30 {
    animation-name: width30;
}

@keyframes width50 {
    from {
        opacity: 0;
        width: 0;
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        width: 50%;
        transform: none;
    }
}
.width50 {
    animation-name: width50;
}

@keyframes width90 {
    from {
        opacity: 0;
        width: 0;
        transform: translate3d(0,100%,0);
    }

    to {
        opacity: 1;
        width: 90%;
        transform: none;
    }
}
.width90 {
    animation-name: width90;
}

/* ----------------- navbar styling  ----------------- */

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    /* padding: 0.6rem 15.6rem; */
    padding: 0.6rem 9.5rem;
    transition: all 0.3s ease;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    /* padding: 0 15.6rem; */
    padding: 0 9.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(1rem);
    border-bottom: 1px solid var(--lightgray-1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}
.navbar .logo a {
    color: var(--cleanwhite);
    font-size: 33px;
    font-weight: 600;
    letter-spacing: 1px;
}
.navbar .menu {
    display: inline-flex;
    overflow: hidden;
}
.navbar .menu a {
    color: var(--cleanwhite);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 30px;
    transition: all 0.3s ease;
}
.navbar .menu a:hover {
    color: var(--cleanwhite);
    font-weight: 600;
    text-shadow: 0px 0px 5px var(--lightblue), 
    0px 0px 10px var(--lightblue), 
    0px 0px 20px var(--lightblue),
    0px 0px 40px var(--lightblue),
    0px 0px 80px var(--lightblue);
}

/* menu button */
.icon {
    color: var(--cleanwhite);
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar .menu .cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

/* ----------------- home section styling  ----------------- */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-size: 100% 80%;
    background-position: top center;
    background-repeat: no-repeat;
    color: var(--cleanwhite);
    height: 100vh;
}
.home-text {
    top: 0;
    text-align: center;   
}
.home .home-text h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    padding-top: 14rem;
    animation: fadeInUp 2s ease-in-out;
}
.home .home-text h2 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    padding: 1.5rem 0 6.5rem 0;
    animation: fadeInUp 2s ease-in-out;
}
.home .home-text .cv-btn {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cleanwhite);
    border: 1px solid var(--lightblue);
    border-radius: 6px;
    background-color: rgba(225, 225, 225, 0.2);
    box-shadow: 0px 0px 20px var(--lightblue);
    padding: 16px 34px;
    transition: 0.6s;
    position: relative;
    
}
.home .home-text .cv-btn:hover {
    cursor: pointer;
    background-color: var(--lightblue);
    box-shadow: 0px 0px 10px var(--lightblue), 
    0px 0px 10px var(--lightblue), 
    0px 0px 10px var(--lightblue),
    0px 0px 10px var(--lightblue);
}
.home .home-text .cv-btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--lightblue);
    top: 120%;
    left: 0;
    width: 100%;
    height: 60%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
}
.home-images {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 8rem 16rem 10rem;   */
    margin: 9rem 9rem 1rem;
}
.home-images .img {
    width: 100%;
    /* height: 14rem; */
    height: auto;
    opacity: 0;
    animation: fadeIn20 1s ease-in-out 0s forwards;
}

.home-images > div:nth-child(1) > img {
    animation-delay: 0.5s;
}
.home-images > div:nth-child(2) > img {
    animation-delay: 1s;
}
.home-images > div:nth-child(3) > img {
    animation-delay: 1.5s;
}


/* ----------------- common section styling  ----------------- */

.about, .projects {    
    color: var(--darkgray-1);
    background: linear-gradient(0deg, rgba(220,220,224,1) 0%, rgba(243,243,243,1) 100%);
    padding-top: 6rem;
}
.about .about-title, .experience-title {
    height: 10vh;
}
.about .about-title h1, .projects .projects-title h1 {
    padding-left: 8.5rem;
    color: var(--blue);
    font-size: 3rem;
}
.about .about-content {
    padding: 0 3rem 3rem;
}

/* ----------------- about section styling  ----------------- */

.about .about-content .about-card-profile {
    padding-top: 7rem;
    padding-left: 3rem;
    /* padding-left: 0; */
}
.about .about-content .about-card-profile .card {
    position: relative;
    width: 300px;
    height: 300px;
    background: url("/images/profile2-removebg-preview.png") no-repeat;
    background-size: 135%;
    background-position: center;
    box-shadow: 0px 0px 30px 10px rgba(230,230,234,1), inset 0px 0px 15px 10px rgba(230,230,234,1);
    border-radius: 50%;
}
.about .about-content .about-card-profile .card:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 30px 10px rgba(230,230,234,1), inset 0px 0px 15px 10px rgba(230,230,234,1);
    border-radius: 50%;
}
.about .about-content .about-card .card {
    width: 90%;
    max-width: 400px;
    height: 12rem;  
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(255, 255, 255, 0.5),
                    5px 5px 5px rgba(0, 0, 0, 0.05),
                    -5px -5px 5px rgba(255, 255, 255, 0.5);
    border: 1px solid transparent;
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.9), rgba(225, 225, 225, 0.3));
}
.about .about-content .about-card .card i {
    font-size: 2rem;
}
.about .about-content .about-card .card .card-content {
    display: grid;
    gap: 5px;
}
.about .about-content .about-text {
    margin-top: 2rem;
    /* padding-right: 12rem; */
    padding-right: 4rem;
}
.about .about-content .about-text h2 {
    padding-bottom: 1.5rem;
    text-align: justify;
}
.about .about-content .about-text .line {
    margin-bottom: 1.5rem;
    height: 0.2vw;
    width: 30%;
    background-image: linear-gradient(to right, var(--lightblack), var(--whitesmoke));
}
.about .about-content .about-text p {
    padding-bottom: 0.8rem;
    line-height: 1.5;
    text-align: justify;
}
.about .about-content .about-text p span {
    color: var(--lightblue);
    font-weight: bold;
}

/* ----------------- experience section styling  ----------------- */

.experience {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 6rem;
    color: var(--cleanwhite);
    height: 100vh;
}
.experience .experience-title h1, .contact .contact-title .text h1 {
    height: 6rem;
    padding-left: 8.5rem;
    font-size: 3rem;
}
.experience .experience-content {
    padding: 7rem 8rem;
}
.experience .experience-content .card {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 20px;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3rem);
    color: var(--white);
}
.experience .experience-content .card .card-content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    text-align: left;
    /* padding-left: 1rem; */
    padding: 0 20px 20px;
}
.experience .experience-content .card .card-content img {
    width: 30px;
    /* margin-bottom: -3.5rem; */
    margin-bottom: -5.5rem;
}
.experience .experience-content .card .card-title {
    text-align: center;
}
.experience .experience-content .card .card-title h2, .contact .contact-content .contact-card .card .card-title h2 {
    font-size: 2.5rem;
    color: var(--lightblue);
}
.experience .experience-content .card .card-title .line {
    margin-top: 1rem;
    margin-left: 7rem;
    height: 0.2vw;
    width: 50%;
    background-image: linear-gradient(to right,#181818, rgba(255, 255, 255, 0));
}
.experience .experience-content .card .card-content h3 {
    /* font-size: 1.5rem; */
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-left: 3rem;
}
.experience .experience-content .card .card-content p {
    font-size: 14px;
    padding-left: 3rem;
}

/* ----------------- projects section styling  ----------------- */
.projects .projects-content {
    /* padding: 0 4.5rem 3rem; */
    padding: 0 5rem 6rem;
}
.projects .projects-content .projects-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.projects .projects-content .projects-card .card {
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    height: auto;
    text-align: center;
    margin: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid transparent;
    animation-fill-mode: forwards;
    visibility: hidden;
}
.projects .projects-card .card .project-image {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transition: .4s ease;
}

.card:hover .project-image {
    transition: .4s ease;
    transform: scale(1.1);
}
.projects .projects-card .card .card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.projects .projects-card .card:hover .card-content {
    opacity: 1; 
}

.projects .projects-card .card .card-content .project-link, .project-text {
    width: 100%;
    color: var(--cleanwhite);
    /* font-size: 24px; */
    font-size: 22px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.4s;
}
.projects .projects-card .card .card-content .project-text {
    font-size: 16px;
    top: 60%;
}

.projects .projects-card .card:hover .card-content .project-link:hover {
    color: var(--lightblue);
    cursor: pointer;
}


/* ---------------- modals  ----------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }
  .modal .modal-content {
    position: relative;
    background-color: var(--cleanwhite);
    top: 0;
    margin: auto;
    padding: 0;
    width: 45%;
    max-width: 1200px;
  }
  .modal .modal-content img {
    max-width: 100%;
    margin-bottom: -4px;
  }
  .modal .close {
    color: var(--cleanwhite);
    position: absolute;
    top: 80px;
    right: 35px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .modal .close:hover,
  .modal .close:focus {
    color: var(--lightgray-2);
    text-decoration: none;
    cursor: pointer;
  }
  .modal .modal-content .prev,
  .modal .modal-content .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--cleanwhite);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .modal .modal-content .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .modal .modal-content .prev:hover,
  .modal .modal-content .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal .modal-content .caption-container {
    width: 100%;
    height: auto;
    text-align: left;
    background-color: var(--cleanwhite);
    padding: 12px 0 0 12px;
    font-size: 15px;
    color: var(--darkgray-1);
  }
  .modal .modal-content .caption-container h2 {
    color: var(--gray);
    padding: 0 10px 0 10px;
  }
  .modal .modal-content .caption-container p {
    padding: 0 10px 12px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .modal .modal-content .caption-container ul li {
    list-style: none;
    padding: 10px 0 12px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .modal .modal-content .caption-container ul li span {
    display: block;
    font-weight: bold;
  }
  .modal .modal-content .caption-container a {
    color: var(--blue);
    font-size: 1rem;
    font-weight: bold;
  }
  .active:hover {
    opacity: 1;
  }

.mySlides {
    display: none;
}
img {
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
}
.slideshow-container {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--cleanwhite);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* ----------------- contact section styling  ----------------- */
.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/clement-helardot-95YRwf6CNw8-unsplash.jpg");
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 6rem;
    height: 100vh;
    color: var(--cleanwhite);
    position: relative;
}
.contact .contact-card {
    display: flex;
    justify-content: center;
}
.contact .contact-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: auto;
    margin-top: 1rem;
    color: var(--white);
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .5); 
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    padding: 4rem 5rem 4rem 4rem;
    text-align: left;
}
.contact .contact-card .card .card-title {
    width: 18vw;
}
.contact .contact-card .card .card-title h2 {
    text-align: center;
    color: var(--lightblue);
    /* font-size: 3rem; */
    font-size: 2rem;
}
.contact .contact-card .card .card-title .line {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    height: 0.2vw;
    width: 90%;
    background-image: linear-gradient(to right, var(--whitesmoke), var(--lightblack));
}
.contact .contact-card .card .card-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}
.contact .contact-card .card .card-content i {
    font-size: 2rem;
    padding: 0.5rem 6rem;
    color: var(--lightblue);
}
.contact .contact-card .card .card-content h3 {
    font-size: 1.5rem;
    color: var(--whitesmoke);
}
.contact  .contact-card .card .card-content p {
    color: var(--lightgray-1);
}

/* ----------------- footer styling  ----------------- */

footer {
    width: 100%;
    height: auto;
    margin-top: -11rem;
    color: var(--whitesmoke);
    text-align: center;
    font-size: 1rem;
    position: absolute;
    padding-top: 2rem;
}
footer .line1 {
    position: absolute;
    top: 4rem;
    left: 6rem;
    width: 32%;
    height: 2px;
    background-color: var(--lightgray-1);
}
footer .line2 {
    position: absolute;
    top: 4rem;
    right: 6rem;
    width: 32%;
    height: 2px;
    background-color: var(--lightgray-1);
}
footer .fa {
    color: var(--lightgray-1);
    padding: 16px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
footer .portfolio {
    font-size: 1.2rem;
}


/* ----------------- Media queries  ----------------- */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) { 
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 
    
    section {
        padding: 0;
        height: auto;
    }
    .experience, .projects {
        height: auto;
        padding-top: 5rem;
    }
    .about {
        padding-top: 5rem;
    }
    .navbar, .navbar.sticky {
        padding: 15px 60px;
    }
    .navbar .logo {
        left: 2rem;
    }
    .navbar .menu a {
        padding: 14px 20px 14px 25px;
        font-size: 18px;
    }
    .home .home-text h1 {
        font-size: 4rem;
        letter-spacing: 0.3rem;
    }
    .home .home-text h2 {
        font-size: 2rem;
        letter-spacing: 0.4rem;
    }
    .home .home-text .cv-btn {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
    }
    .home-images {
        margin: 8rem 3rem;
    }
    .about .about-title h1, .experience .experience-title h1, .projects .projects-title h1 {
        padding-left: 3.5rem;
    }
    .about .about-content {
        padding: 0 2rem;
    }
    .about .about-content .about-card-profile {
        padding-left: 0rem;
    }
    .about .about-content .about-card {
        padding-left: 0rem;
    }
    .about .about-content .about-card-profile .card {
        position: relative;
        width: 310px;
        height: 310px;
    }
    .about .about-content .about-card-profile .card .img-profile {
        width: 300px;
        height: 300px;
    }
    .about .about-content .about-text {
        padding-right: 0rem;
    }   
    .experience {
        height: 100vh;
    }
    .experience .experience-content {
        padding: 6rem 4rem;
    }
    .experience .experience-content .card {
        width: 108%;
    }
    .experience .experience-content .card .card-title .line {
        margin-left: 8rem;
    }
    .experience .experience-content .card .card-content {
        padding: 0;
    }
    .experience .experience-content .card .card-content h3 {
        font-size: 1.1rem;
    }
    .projects .projects-content {
        padding: 0;
        margin-left: 0;
    }
    .projects .projects-content .projects-card {
        margin-top: 0;
    }
    .projects .projects-content .projects-card .card {
        width: 32%;
        height: 13rem;
        margin: 5px;
    }
    footer .line1 {
        width: 20rem;
        left: 3rem;
    }
    footer .line2 {
        width: 20rem;
        right: 3rem;
    }
    footer .fa {
        padding: 16px;
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {  
    section {
        padding: 0;
        height: auto;
    }
    .experience, .projects, .contact {
        height: auto;
        padding-top: 3rem;
    }
    .about .about-title h1, .experience .experience-title h1, .projects .projects-title h1 {
        padding-left: 1rem;
        font-size: 2rem;
        height: 4rem;
    }
    .navbar, .navbar.sticky {
        padding: 10px 0 10px 30px;
    }
    .navbar .logo a {
        font-size: 26px;
    }
    .navbar .menu {
        width: 90%;
        padding-left: 70px;
    }
    .navbar .menu a {
        padding: 16px 15px 10px 12px;
        font-size: 14px;
    }
    .home {
        height: auto;
    }
    .home .background {
        background-size: cover;
        background-position: center center;
        height: 96vh;
    }
    .home .home-text h1 {
        font-size: 2rem;
        letter-spacing: 0.3rem;
        padding-top: 7rem;
    }
    .home .home-text h2 {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        padding: 0.5rem 0 3.5rem 0;
    }
    .home .home-text .cv-btn {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        padding: 10px 26px;
    }
    .home .home-text .cv-btn::before {
        top: 100%;
    }
    .home-images {
        margin: 3rem 0;
    }
    .home-images .img {
        height: 9rem;
    }
    .about {
        padding-top: 0;
    }
    .about .about-title {
        height: auto;
        padding-top: 3rem;
    }
    .about .about-content {
        height: auto;
        padding: 0 1rem;
    }
    .about .about-content .about-card-profile {
        padding: 1.8rem;
    }
    .about .about-content .about-card {
        padding-top: 1.5rem;
        padding-left: 0;
    }
    .about .about-content .about-card .card {
        width: 95%;
        padding: 1.5rem;
    }
    .about .about-content .about-card .card h2 {
        font-size: 20px;
    }
    .about .about-content .about-card .card p {
        font-size: 15px;
    }
    .about .about-content .about-card-profile .card {
        position: relative;
        width: 180px;
        height: 180px;
    }
    .about .about-content .about-text {
        width: 100%;
        padding-right: 0.8rem;
        margin-top: 1rem;
        margin-left: 0;
    }
    .about .about-content .about-text h2 {
        font-size: 22px;
    }
    .about .about-content .about-text p {
        line-height: 1.5;
    }
    .experience {
        padding-bottom: 4rem;
    }
    .experience .experience-content {
        height: auto;
        padding: 20px;
    }
    .experience .experience-content .experience-card {
        padding: 5px;
    }
    .experience .experience-content .card {
        width: 100%;
        height: 300px;
        padding: 12px;
    }
    .experience .experience-content .card .card-title h2 {
        font-size: 28px;
    }
    .experience .experience-content .card .card-title .line {
        margin-left: 3rem;
    }
    .experience .experience-content .card .card-content {
        padding: 0;
    }
    .experience .experience-content .card .card-content img {
        width: 25px;
    }
    .experience .experience-content .card .card-content h3 {
        font-size: 0.8rem;
        padding-top: 0.5rem;
        padding-left: 2.5rem;
    }
    .experience .experience-content .card .card-content p {
        font-size: 12px;
        padding-left: 2.5rem;
    }
    .projects .projects-content {
        padding: 0;
        margin-left: 0;
        padding-bottom: 2rem;
    }
    .projects .projects-content .projects-card {
        margin-top: 0;
        padding: 0 15px;
    }
    .projects .projects-content .projects-card .card {
        height: 9rem;
        margin: 3px;
    }
    .projects .projects-content .projects-card .card .card-box .card-content {
        padding: 5px;
    }
    .projects .projects-card .card .card-content .project-link {
        font-size: 20px;
    }
    .projects .modal .modal-content {
        width: 60%;
    }
    .modal .modal-content .caption-container p {
        font-size: 14px;
    }
    .contact {
        padding-bottom: 9rem;
        background-size: cover;
    }
    .contact .contact-card .card {
        width: 80%;
        padding: 1.2rem;
    }
    .contact .contact-card .card .card-title .line {
        margin-bottom: 1rem;
    }
    .contact .contact-card .card .card-content {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
    }
    .contact .contact-card .card .card-content .row {
        flex-basis: 280px;
    }
    .contact .contact-card .card .card-content .row .col-6:nth-child(1) {
        width: 30%;
    }
    .contact .contact-card .card .card-content i {
        padding: 0.5rem;
    }
    .contact .contact-card .card .card-content h3 {
        font-size: 1.2rem;
    }
    .contact .contact-card .card .card-content p {
        width: 150%;
    }
    footer .line1 {
        width: 11rem;
        left: 3rem;
    }
    footer .line2 {
        width: 11rem;
        right: 3rem;
    }
    footer .fa {
        padding: 16px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) { 
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    body.disabled{
        overflow: hidden;
    }
    section {
        padding: 0;
        height: auto;
    }
    .icon{
        display: block;
        position: absolute;
        right: 40px;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu {
        left: 0%;
    }
    .navbar .menu a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu a{
        display: block;
        margin-left: 0px;
    }
    .experience, .projects{
        height: auto;
        padding-top: 4rem;
    }
    .about {
        padding-top: 4rem;
    }
    .about .about-title h1, .experience .experience-title h1, .projects .projects-title h1 {
        padding-left: 1rem;
        font-size: 2.5rem;
    }
    .navbar .logo {
        padding-left: 0;
    }
    .navbar .menu {
        position: fixed;
        right: 0;
    } 
    .navbar .menu a {
        padding: 20px;
    }
    .home .background {
        background-size: cover;
    }
    .home .home-text h1 {
        font-size: 3rem;
        letter-spacing: 0.3rem;
    }
    .home .home-text h2 {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .home .home-text .cv-btn {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    .home-images {
        margin: 10rem 0;
    }
    .home-images .img {
        height: 10rem;
    }
    .about .about-title {
        height: auto;
    }
    .about .about-content {
        height: auto;
    }
    .about .about-content .about-card-profile {
        padding-top: 1rem;
        padding-left: 8rem;
    }
    .about .about-content .about-card {
        padding-left: 3rem;
    }
    .about-card-profile .card {
        position: relative;
        width: 310px;
        height: 310px;
    }
    .about-card-profile .card .img-profile {
        width: 300px;
        height: 300px;
    }
    .about .about-content .about-text {
        width: 100%;
        padding-right: 0rem;
        margin-top: 0;
        margin-left: 0;
    }
    .experience {
        padding-bottom: 8rem;
        background-size: cover;
    }
    .experience .experience-content {
        padding-top: 0;
        padding-left: 7rem;
    }
    .experience .experience-content .card {
        width: 390px;
    }
    .experience .experience-content .card .card-title .line {
        margin-left: 8rem;
    }
    .experience .experience-content .card .card-content {
        padding: 0;
    }
    .experience .experience-content .card .card-content h3 {
        font-size: 1.1rem;
    }
    .projects .projects-content {
        padding: 0;
    }
    .projects .projects-content .projects-card .card {
        width: 50%;
        height: 13rem;
    }
    .contact {
        padding-top: 0;
        padding-bottom: 10rem;
    }
    .contact .contact-card .card .card-title h2 {
        font-size: 2.5rem;
    }
    .contact .contact-card .card .card-title {
        width: 80%;
    }
    footer .line1 {
        width: 40px;
        left: 3rem;
    }
    footer .line2 {
        width: 40px;
        right: 3rem;
    }
    footer .fa {
        padding: 16px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
/* For mobile phones: */
@media (max-width: 576px) { 
    [class*="col-"] {
        width: 100%;
    }
    body, p, a, h4 {
        font-size: 14px;    
    }
    section {
        padding: 0;
        height: auto;
    }  
    header {
        width: 70%;
    }
    .navbar, .navbar.sticky {
        padding: 20px 30px;
    }
    .home {
        background-size: 215% 55%;
        margin-bottom: 0;
    }
    .home-images {
        display: block;
        margin: 0;
        padding: 5rem 1rem 0;
    }
    .home .home-text {
        padding: 20px 12px;
    }
    .home .home-text h1 {
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
    }
    .home .home-text h2 {
        font-size: 1.3rem;
        letter-spacing: 0.1rem;
        padding: 1.5rem 0 6.5rem 0;
    }
    .home .home-text .cv-btn {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .experience, .projects {
        padding-top: 4rem;
    }
    .about {
        padding-top: 1rem;
    }
    .about .about-content {
        height: auto;
        padding: 0 1.5rem;
    }
    .about .about-title, .experience .experience-title, .projects .projects-title {
        text-align: center;
    }
    .about .about-title h1, .experience .experience-title h1, .projects .projects-title h1 {
        padding-left: 0;
        font-size: 2.3rem;
    }
    .about .about-content .about-card-profile {
        padding: 30px 0 40px 0;
        display: flex;
        justify-content: center;
    }
    .about .about-content .about-card {
        padding: 12px 4px;
    }
    .about .about-content .about-card .card {
        width: 100%;
        padding: 1.5rem;
    }
    .about .about-content .about-card-profile .card {
        position: relative;
        width: 220px;
        height: 220px;
    }
    .about .about-content .about-card-profile .card .img-profile {
        width: 260px;
        height: 260px;
    }
    .about .about-content .about-text {
        padding: 30px 5px 20px;
    }
    .about .about-content .about-text .line {
        width: 50%;
    }
    .about .about-content .about-text h2, .about .about-content .about-text p {
        text-align: left;
    }
    .experience {
        background-size: cover;
        padding-bottom: 1rem;
    }
    .experience .experience-content {
        height: auto;
        padding: 0;
    }
    .experience .experience-content .experience-card {
        display: flex;
        justify-content: center;
    }
    .experience .experience-content .card {
        width: 320px;
        height: auto;
        padding-bottom: 30px;
    }
    .experience .experience-content .card .card-title h2 {
        font-size: 2rem;
    }
    .experience .experience-content .card .card-title .line {
        width: 50%;
        margin-left: 4rem;
    }
    .experience .experience-content .card .card-content {
        padding: 0;
    }
    .experience .experience-content .card .card-content img {
        width: 26px;
        margin-bottom: -5rem;
    }
    .experience .experience-content .card .card-content h3 {
        font-size: 1rem;
        padding-left: 3rem;
    }
    .experience .experience-content .card .card-content p {
        font-size: 13px;
        padding-left: 3rem;
    }
    .projects .projects-content .projects-card {
        margin: 0;
    }
    .projects .projects-content .projects-card .card {
        width: 100%;
        height: 13rem;
    }
    .projects .modal .close {
        right: 10px;
    }
    .projects .modal .modal-content {
        width: 80%;
        margin-left: 40px;
    }
    .projects .modal .modal-content .caption-container {
        padding: 12px 5px 0;
    }
    .projects .modal .modal-content .caption-container h2 {
        font-size: 20px;
    }
    .projects .modal .modal-content .caption-container p {
        text-align: justify;
        padding-top: 10px;
    }
    .contact {
        padding: 3rem 0 10rem 0;
        background-size: cover;
    }
    .contact .contact-card .card {
        width: 90%;
        height: auto;
        padding: 2rem;
    }
    .contact .contact-card .card .card-title .line {
        width: 90%;
        margin-bottom: 1rem;
    }
    .contact .contact-card .card .card-title h2 {
        font-size: 2rem;
    }
    .contact .contact-card .card .card-content {
        flex-direction: column;
	    /* flex-wrap: wrap; */
        text-align: center;
    }
    .contact .contact-card .card .card-content .row {
        flex-basis: 0;
    }
    .contact .contact-card .card .card-content .row .col-6 {
        padding: 8px;
    }
    .contact .contact-card .card .card-content .row .col-6:nth-child(1) {
        width: 100%;
    }
    .contact .contact-card .card .card-content i {
        padding: 0;
    }
    .contact .contact-card .card .card-content h3 {
        font-size: 1.3rem;
    }
    .contact .contact-card .card .card-content p {
        width: 100%;
    }
    footer .line1, footer .line2 {
        display: none;
    }
    footer .fa {
        font-size: 22px;
        padding: 5px;
    }
 }
